.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-1);
  padding: 2rem 0;
  gap: 8.5rem;
}

.form {
  width: 34rem;
  height: 50rem;
  background-color: var(--bg-4);
  border: 1px solid var(--txt-0);
  border-radius: 16px;
  opacity: 1;
}

.container {
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.25rem;
  }
}

.limit {
  color: var(--txt-3);
}

@media (max-width: 480px) {
  .section {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 3.125rem;
  }

  .form {
    width: 100%;
    height: fit-content;
  }

  .container {
    padding: 1rem;
  }

  .content {
    margin-bottom: 71px;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
