.steps {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .item {
    display: flex;
    align-items: center;
    gap: 3.5rem;

    &.right {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    &.left {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 16rem;
  gap: 1rem;

  h4 {
    color: var(--txt-2);
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .item {
    gap: 1.5rem;

    &.right {
      flex-direction: column;
      justify-content: center;
    }

    &.left {
      flex-direction: column;
      justify-content: center;
    }
  }

  .text {
    align-items: center;
    width: 100%;

    h4 {
      font-size: 1rem;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }
  }
}
