.about {
  grid-area: about;
  display: flex;
  height: 100%;
  width: 34rem;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .about {
    width: 100%;
    margin-bottom: 2rem;
  }
}
