.footer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-4);
  width: 100%;
  padding: 4rem 0;
}

.content {
  width: var(--content-width);
  display: grid;
  grid-template-areas:
    "about qlinks contact"
    "copyright qlinks social";
}

.copyright {
  grid-area: copyright;
  align-self: end;
  color: var(--txt-3);
}

@media (max-width: 480px) {
  .footer {
    padding: 4rem 2rem;
    flex-direction: column;
    width: 100%;
  }

  .content {
    width: 100%;
    flex-direction: column;
    grid-template-areas:
      "about"
      "qlinks"
      "contact"
      "social"
      "copyright";
  }

  .copyright {
    margin-top: 2rem;
  }
}
